<%- include('../partials/header.ejs') %>

<h1>Entries</h1>

<table class="user-table">
  
		<tr>
        	<th>Name</th>
        	<th>Count</th>
    </tr>
		<% users.forEach(user => { %>  
			
			<form action="/database/index" method="POST">
        <tr class="user <%= user.name %>">
          <td><%= user.name %></td>
          <td><%= user.count %></td>
        </tr>  
			</form>

		<% }) %>
</table>

<%- include('../partials/footer.ejs') %>
